* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.img_fundo {
    display: inline;
    width: 100%;
    height: 100vh;
}

.container-pai {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa-branca {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 544px;
    height: 638px;
    padding: 50px;
    border-radius: 24px;
    transition: 0.8s;
    flex-wrap: nowrap;
}

.botao_01 {
    cursor: pointer;
    width: 448px;
    height: 64px;
    background-color: #000000;
    opacity: 100%;
    border-radius: 40px;
    transition: 0.9s;
    color: #FFFFFF;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25))
}

.botao_02 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 448px;
    height: 64px;
    background-color: #FFFFFF;
    opacity: 100%;
    border-radius: 40px;
    transition: 0.9s;
    border-color: #706f6f86;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25))
}

.botao_03 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 448px;
    height: 64px;
    background-color: #FFFFFF;
    opacity: 100%;
    border-radius: 40px;
    transition: 0.9s;
    border-color: #706f6f86;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25))
}

.item_3 {
    margin-top: 8px;
    margin-bottom: 24px;
}

.item_4 {
    margin-bottom: 14px;
}

.item_5 {
    margin-bottom: 14px;
}

.item_6 {
    margin-bottom: 24px;
}

.item_7 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_8 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.item_9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {

    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0%;
    opacity: 100%;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25))
}

a {
    color: #000000;
    margin-left: 5px;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}

.paragrafo_0 {

    filter: drop-shadow(0px 4px 4px rgba(241, 240, 240, 0.911))
}

.paragrafo_1 {
    font-size: 17px;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25))
}

.paragrafo_2 {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    margin-left: 7px;
    
}

.paragrafo_3 {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    margin-left: 7px;
}

.paragrafo_4 {
    color: #706f6fab;
    font-size: 14px;
}

.paragrafo_5 {
    color: #706f6fab;
    font-size: 14px;
}

.paragrafo_6 {
    color: #706f6fab;
    font-size: 14px;
}

@media screen and (max-width: 1280px) and (max-height: 800px){
    .caixa-branca {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
        width: 544px;
        height: 550px;
        padding: 50px;
        border-radius: 24px;
        transition: 0.8s;
        flex-wrap: nowrap;
    }
}


@media screen and (max-width: 1024px) and (max-height: 600px){
    .paragrafo_0 {
        font-size: 13px;
        filter: drop-shadow(0px 4px 4px rgba(241, 240, 240, 0.911))
    }

    .botao_01 {
        cursor: pointer;
        width: 400px;
        height: 54px;
        background-color: #000000;
        opacity: 100%;
        border-radius: 40px;
        transition: 0.9s;
        color: #FFFFFF;
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25))
    }

    .paragrafo_1 {
        font-size: 15px;
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25))
    }

    .botao_02 {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 54px;
        background-color: #FFFFFF;
        opacity: 100%;
        border-radius: 40px;
        transition: 0.9s;
        border-color: #706f6f86;
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25))
    }

    .paragrafo_2 {
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        margin-left: 7px;   
    }

    .botao_03 {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 54px;
        background-color: #FFFFFF;
        opacity: 100%;
        border-radius: 40px;
        transition: 0.9s;
        border-color: #706f6f86;
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25))
    }

    .paragrafo_3 {
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        margin-left: 7px;
    }

    .paragrafo_4 {
        color: #706f6fab;
        font-size: 12px;
    }

    .paragrafo_5 {
        color: #706f6fab;
        font-size: 12px;
    }

    .paragrafo_6 {
        color: #706f6fab;
        font-size: 13px;
    }

    a {
        color: #000000;
        margin-left: 5px;
        text-decoration: underline;
        font-size: 12px;
        cursor: pointer;
    }

    .caixa-branca {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
        width: 544px;
        height: 510px;
        padding: 50px;
        border-radius: 24px;
        transition: 0.8s;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 540px) {
    .img_fundo {
        display: none;
    }

    h1 {
        width: 360px;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0%;
        opacity: 100%;
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25))
    }
   
    .paragrafo_0 {
        font-size: 12px;
        filter: drop-shadow(0px 4px 4px rgba(241, 240, 240, 0.911))
    }

    .botao_01 {
        cursor: pointer;
        width: 335px;
        height: 56px;
        background-color: #000000;
        opacity: 100%;
        border-radius: 40px;
        transition: 0.9s;
        color: #FFFFFF;
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25))
    }

    .paragrafo_1 {
        font-size: 13px;
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25))
    }

    .botao_02 {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 335px;
        height: 56px;
        background-color: #FFFFFF;
        opacity: 100%;
        border-radius: 40px;
        transition: 0.9s;
        border-color: #706f6f86;
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25))
    }

    .paragrafo_2 {
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
        margin-left: 7px;   
    }

    .botao_03 {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 335px;
        height: 56px;
        background-color: #FFFFFF;
        opacity: 100%;
        border-radius: 40px;
        transition: 0.9s;
        border-color: #706f6f86;
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25))
    }

    .logo_face{
        width: 28px;
        height: 28px;;
    }

    .logo_google{
        width: 28px;
        height: 28px;;
    }

    .paragrafo_3 {
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
        margin-left: 7px;
    }

    .paragrafo_4 {
        color: #706f6fab;
        font-size: 11px;
    }

    .paragrafo_5 {
        color: #706f6fab;
        font-size: 11px;
    }

    .paragrafo_6 {
        color: #706f6fab;
        font-size: 12px;
    }

    a {
        color: #000000;
        margin-left: 5px;
        text-decoration: underline;
        font-size: 11px;
        cursor: pointer;
    }
}
